@import "styles.css";

.nav-project {
    background-color: var(--button-color-hover, grey);
    color: white;
    pointer-events: none;
}

main {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 2rem;
    > h2 {
        font-size: 1.5rem;
        font-family: Blippo;
        font-variant: small-caps;
        color: rgb(17, 95, 189);
    }
    > h2::after {
        content: "";
        display: block;
        width: 30%;
        height: 2px;
        background-color: gray;
        margin: 0.5rem 0;
    }
    > ul {
        margin-bottom: 0.5rem;
        > li {
            font-size: 1.1rem;
        }
    }
    > div {
        > a {
            text-align: center;
            color: rgb(99, 21, 118);
            font-weight: bold;
            padding: 0.5rem;
            margin: 0 0.5rem;
            cursor: pointer;
            transition: background-color 0.3s ease;
            /* text-decoration: underline wavy rgb(0, 174, 255) 2px; */
            text-decoration: none;
        }
        > a:hover {
            color: var(--button-color-hover, red);
        }
    }
}

.img-container {
    position: relative;
    display: inline-block;
    > img {
        height: 300px;
        width: auto;
        display: block;
        border-radius: 5px;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0); /* Initially transparent */
        transition: background-color 0.3s ease;
        cursor: pointer;
    }
}

.img-container:hover {
    .overlay {
        background-color: rgba(255, 255, 255, 0.672);
    }
    .pj-container {
        display: block;
    }
}

.pj-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

.pj {
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    margin: 10px;
    opacity: 0.8;
}

.pj a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

body.dark .project {
        > h2 {
            color: rgb(125, 174, 235);
        }
        .proj-links a {
            color:rgb(46, 191, 157);
        }
    }


@media screen and (max-width: 480px) {
    .project {
        flex-direction: column;
        padding-bottom: 20px;
        width: 100%;
        margin: 0;
        > h2 {
            font-size: 20px;
        }
        > ul {
            > li {
                font-size: 15px;
            }
        }
        > div {
            display: flex;
            flex-direction: column;
            > a {
                font-size: 12px;
            }
        }
    }
}
