@import "styles.css";

:root {
    --form-color: rgb(223, 236, 235);
    --border-color: rgb(190, 187, 187);
    --valid-color: rgb(93, 198, 118);
    --invalid-color: rgb(241, 75, 75);
}

.nav-contact {
    background-color: var(--button-color-hover, grey);
    color: white;
    pointer-events: none;
}

.contact_info {
    text-align: left;
    font-size: 1rem;
    padding: 20px 40px;
    width: 90%;
    margin: 0 auto;
}

.contact_form {
    background-color: var(--form-color, white);
    border-radius: 4px;
    border: 0px;
    padding: 20px 40px;
    width: 90%;
    margin: 0 auto;
}

.form_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.5rem 0;
    > label {
        width: 20%;
    }
}

.output-message {
    display: flex;
    flex-direction: row;
    align-items: center;
}

input, textarea {
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid var(--border-color, grey);
}

input:valid, textarea:valid {
    border-color: var(--valid-color, green);
}

input:user-invalid, textarea:user-invalid {
    border-color: var(--invalid-color, red);
}

input::placeholder,
textarea::placeholder {
    color: lightgrey;
}

.info-message {
    font-size: 0.8rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: green;
    font-family: Roboto, sans-serif;
    transition: color 0.3s ease-out;
}

.error-message {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    margin: 0.5rem;
    font-weight: bold;
    font-family: Roboto, sans-serif;
    color: red;
    animation: flashError 0.3s ease-out;
}

body.dark .contact_form {
    background-color: #646060;
}

body.dark .info-message {
    background-color: white;
}

body.dark .error-message {
    background-color: white;
}

@keyframes flashError {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

@media screen and (max-width: 480px) {
    .contact_info {
        width: 100%;
        margin: 0 auto;
        padding: 1.2rem 0;
        > p {
            font-size: 0.9rem;
        }
    }

    .form_info {
        > input, textarea {
            width: 100%;
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .form_info > label {
        margin-bottom: 0rem;
    }
}

@media screen and (min-width: 1025px) {
    .form_info > label {
        margin-bottom: 0.5rem;
    }
}