@import "styles.css";

header h1 {
    padding-bottom: 0;
}

header h3 {
    color: rgb(230, 230, 230);
}

.nav-home {
    background-color: var(--button-color-hover, grey);
    color: white;
    pointer-events: none;
}

main {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 3rem auto;
}

.interests {
    > ul {
        list-style-type: none;
        > li::before {
            content: "\27a2";
        }
    }
}

.lead, .lead-container, .education, .location, .interests {
    margin: 1rem;
    text-align: left;
}

h2:has(+ hr) {
    color: color-mix(in srgb, yellow 40%, green);
}

.lead-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.slides-container {
    position: relative;
    width: 300px;
    height: 400px;
    margin: auto;
}

.slides {
    position: relative;
    width: 300px;
    height: 400px;
    margin: auto;
}

.slides img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.lead {
    > h2 {
        text-align: center;
        font-weight: bold;
        font-style: italic  ;
        color: rgb(232, 100, 48);
        padding: 0.5rem 0;
    }
    > p {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 480px) {
    main {
        width: 80%;
        margin: 3rem auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .lead {
        > h2 {
            font-size: 1.5rem;
        }
        > p {
            font-size: 1rem;
        }
    }

    .lead-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



.slides-container {
    width: 225px;
    height: 300px;
}

.slides {
    width: 225px;
    height: 300px;
}
}
